<% if comment.user_id %>
<li class="comment center_block" id="comment_id">
  <% if comment.commentable_type == 'Image' %>
    <h4>Comment by: <%= User.find_by(id: comment[:user_id]).name %></h4>
  <% else %>
    <h4>Reply by: <%= User.find_by(id: comment[:user_id]).name %></h4>
  <% end %>
  <div class="body">
    <p style="border-bottom: 1px solid lightgray;"><%= comment.body %></p>
  </div>
   
  <% if current_user%>
    <%= link_to 'Reply', new_comment_comment_path(comment, image_id_comment:@image[:id]), id:'reply_comment', class: "reply_button", id: "#{comment.id}"%>
    <% if current_user || current_user.id == comment[:user_id]%>
      <%= link_to "Delete", comment, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <div class="hide" id=<%= "image_#{comment.id}"%>>
      <%= render :partial => 'comments/new_reply', locals: {comment: comment} %>
    </div>
  <% end %>

   
  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>
<% end %>
