<h1>Your New Comment
 :<sup><a href="" id="hide_new_comment" style="font-size: 14px;">Close</a></sup>
</h1>

<%= form_for([@image, @image.comments.build], html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true, maxlength:'200' %>
    <%= f.hidden_field :image_id, :value => @image.id %>
    <%= f.hidden_field :comment_id, :value => 0 %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
