<h1>Your Comment:</h1>

<%= form_for([@image, @image.comments.build], html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', required: true %>
    <%= f.hidden_field :image_id, :value => @image.id %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
