<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
     <div style="display: inline-block;">
      <h1 style="font-size: 24px;">        
        <%= current_user.name %></h1>
        <% if current_user.insta_token.empty? %>  
          <div class="center-block" style="width: 300px;height:40px;vertical-align: center;">
          <%= link_to "https://api.instagram.com/oauth/authorize/?client_id=#{ENV['INSTA_ID']}&redirect_uri=#{ENV['REDIRECT_INSTA']}/user/1&response_type=token", class: "btn btn-block btn-social btn-instagram", style: "margin-top:10px;color:white;text-decoration:none;" do%>
          <span class='fa fa-instagram'></span>
          Add Your Instagram
          <% end %>
         </div>
         <% end %>
         <div class="center-block" style="width: 300px;height:40px;vertical-align: center;">
          <%= link_to "/auth/github", class: "btn btn-block btn-social btn-facebook", style: "margin-top:10px;color:white;text-decoration:none;" do%>
          <span class='fa fa-facebook'></span>
          Add Your Facebook
          <% end %>
         </div>
      </div>
    </section> 
   </aside>         
   <div class="col-md-4" style="text-align: center;">		  
      <div class="center-block" style="width: 300px;height:40px;vertical-align: center;" id="show_api">
        <%= link_to "Show Api", '', class: "btn btn-m btn-info center-block", style: "margin-top:10px;"%>
      </div>
      <p style="font-size:16px;" id="token_api" class="hide center-block"><%= current_user.api_token%></p>
   </div>  
</div>
<% if defined? @insta_images %>
<% unless @insta_images.empty? %>
<div class="center jumbotron insta_images" style="margin-top: 10px;">
<h2>Last 12 images from Your Instagram<sup style="color:blue;cursor: pointer;" title="If you want to add photo from Instagram just click on chosen picture" target="_blank" onmouseover="">¿</sup>
[<a href="" id="show_hide_insta">Hide</a>]
:</h2>
<div class="row" id="insta_images">
    <% @insta_images.each do |insta_image| %>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style="width:200px;height:200px;overflow: hidden;">
            <%= link_to image_tag(insta_image["images"]["low_resolution"]["url"], :alt => insta_image["caption"]["text"], :class => "resize_img"), {:controller => 'images', :action => 'create_remote', :url_image => insta_image["images"]["standard_resolution"]}%>
          </div>
         </div>     
      
    <% end %>
</div>
</div>
<% end %>
<% end %>
<div class="row">
<div class="col-md-4">
  <%= render 'images/image_form' %>
</div>
</div>
<div class="center jumbotron" style="margin-top: 15px;">
<h2>Your images downloaded in photogallery</h2>
<div class="row">
    <% current_user.images.each do |image| %>
	  	<div class="col-sm-6 col-md-4">
	    	  <div class="thumbnail">
		    <%= link_to image_tag(image.image.thumb.url, :alt => image[:id]), {:controller => 'images', :action => 'show', :id => image[:id]} %>
		 </div>
	       </div>     
	    
	  <% end %>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
   //$.post('update', {hash: document.location.hash});
   if (document.location.hash.length > 1){
     $.ajax({ 
      type: 'PUT', 
      url: 'update', 
      data: {'token_insta' : document.location.hash}, 
      success: function(data){
        //data is whatever you RETURN from your controller. 
        //an array, string, object...something 
      } 
    });  
   }
});
</script>