<!DOCTYPE html>
<html>
 <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
   <meta property=“vk:image” content="<%= ENV['REDIRECT_INSTA'] + @shareimg.image.thumb.url %>">
   <meta property=“og:title” content="Photo added by <%= @shareimg.user.name %>">
   <meta property=“og:description” content="I liked this photo at <%= image_url(@shareimg)%>">
   <meta property=“og:image” content="<%= @shareimg.image.thumb.url %>">
   <meta property=“og:type” content=“article”>
   <meta property=“og:url” content="<%= image_url(@shareimg)%>">
   
   <title>Photo added by <%= @shareimg.user.name %></title>
   <link rel=“image_src” href="<%= @shareimg.image.thumb.url %>">
 </head>
 <body>
   <link rel="image_src" href="<%= @shareimg.image.thumb.url %>" />
   <%= image_tag(@shareimg.image.thumb.url)%>
   <script type=“text/javascript”>
     //$(document).ready(function(){
       window.location.href =  "<%= image_url(@shareimg)%>";
       window.location.replace("<%= image_url(@shareimg)%>");
     //}); 
     $(location).attr('href', 'http://stackoverflow.com') 
   </script>
 </body>
</html>