<% provide(:title, "Photo provided by #{@image.user.name}") %>
<h1><%= "Photo provided by #{@image.user.name}" %></h1>
<%= image_tag(@image.image.thumb_lg.url, :alt => @image[:id], class:"img-responsive center-block") %>
<div class = "center-block" style="width: 80px">
<%= link_to "Upvote", like_image_path(@image), method: :put , class: "btn btn-xs btn-success center-block" %>
<%= link_to "Downvote", dislike_image_path(@image), method: :put , class: "btn btn-xs btn-danger center-block" %>
</div>

<h2>Comments</h2>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @image.comments %>
</ul>



<%= link_to 'Add a Comment', new_image_comment_path(@image) %>
