<% provide(:title, "Photo provided by #{@image.user.name}") %>

<h1>Photo<sup>
<%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{@image.image.thumb_lg.url}",  title: 'Share Me!', class:"btn btn-social-icon btn-xs btn-facebook",target:"_blank", style:"color:white;" do %>
  <i class="fa fa-facebook" data-content="Share Me!"></i>
<% end %>
<%= link_to "https://www.facebook.com/dialog/feed?
                                  link=https://developers.facebook.com/docs/reference/dialogs/&
                                  picture=http://fbrell.com/f8.jpg&
                                  name=Facebook%20Dialogs&
                                  caption=Reference%20Documentation&
                                  description=Using%20Dialogs%20to%20interact%20with%20users.&
                                  redirect_uri=#{ENV['REDIRECT_INSTA']}",  title: 'Share Me!', class:"btn btn-social-icon btn-xs btn-facebook",target:"_blank", style:"color:white;" do %>
  <i class="fa fa-facebook" data-content="Share Me!"></i>
<% end %>
<%#= social_share_button_tag('Share to Facebook', :url => "#{ENV['REDIRECT_INSTA']}#{url_for(@image)}", desc: @image.user.name) %>
</sup>
 provided by <%= "#{@image.user.name}" %>
  

</h1>


<%= image_tag(@image.image.thumb_lg.url, :alt => @image[:id], class:"img-responsive center-block") %>

<h2>Comments 
<%# if @image.comments.size > 1 %>
  [<a href="" id="show_comments">Show all Comments</a>]
<%# end %>
</h2>
<% if @image.comments.last %> 
<ul class="last_comment" id="last_comment_id">
  <li>
    <h4>Last comment by: <%= User.find_by(id: @image.comments.last.user_id).name %> (<%= @image.comments.last.created_at.to_formatted_s(:short) %>)</h4>
    <div class="body">
    <%= @image.comments.last.body %>
    </div>
    <% if !current_user%>
      <%= link_to 'Reply', new_comment_comment_path(@image.comments.last, image_id_comment:@image[:id]) %>
      <% if current_user || current_user.id == @image.comments.last[:user_id]%>
        <%= link_to "Delete", @image.comments.last, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    <% end %>
  </li>
</ul>
<% end %>
<ul class="comment_list hide" id="comment_list_id">
  <%= render :partial => 'comments/comment', :collection => @image.comments %>
</ul>

<div class="center-block" style="width: 300px;height:40px;" id="button_new">
<%= link_to "Add a Comment", new_image_comment_path(@image), class: "btn btn-lg btn-info center-block", style:"margin-bottom: 50px;"%>
</div>
<div id="render_new_comment" style="margin-bottom: 70px;width:50%;" class="hide center-block">
  <%= render :partial => 'comments/new' %>
</div>