<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Photo gallery", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <% if current_user %>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Manage your gallery", current_user %></li>
              <li><%= link_to "Log out", signout_path, id: "sign_out" %></li>
              <% if defined? current_user.insta_token %>
              <% if current_user.insta_token.empty? %>
              <% end %>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In<b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
              <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
              <li><%= link_to "Sign in with Github", "/auth/github" %></li>
              <li><%= link_to "Sign in with Vkontakte", "/auth/vkontakte" %></li> 
              <li class="divider"></li>    
          </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
